body {
  background-color: rgb(196, 238, 243);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 10px;
}

h1 {
  color: #ff9999;
  font-family: "Courier New", Courier, monospace;
}

p {
  color: #b30000;
}

hr {
  height: 2px; 
  background-color: #e4a34e;
}

label {
  color: #b30000;
}

input {
  padding: 5px;
  width: 150px;
  margin: 5px;
}

.button {
  background-color: rgb(104, 155, 196);
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.storyBox {
  background-color: #9263ac; 
  color: white;
  visibility: hidden;
  padding: 10px;
  width: 600px;
  height: auto;
}

#all-comments table {
  visibility: hidden;
  border-collapse: separate;
}

#all-comments .comment-content, .comment-user-name {
  background-color: rgb(159, 227, 235);
  color: #8d0404;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 5px 10px;
  margin: 10px;
}

#all-comments .comment-content {
  font-size: 14px;
  width: 300px;
}

#all-comments .comment-user-name {
  font-style: italic;
  font-size: 12px;
  width: 100px;
  text-align: middle
}

#map {
  height: 400px;
  width: 100%;
}